/* ROOT */
:root {
  --header-bg-color: #fff; /* CHANGE */
  --main-bg-color: #fff; /* CHANGE */
  --main-text-color: #fff; /* CHANGE */
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif; /* CHANGE */
  font-weight: 400; /* CHANGE */
  background: linear-gradient(#e66465, #9198e5); /* CHANGE */
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 800px; /* CHANGE */
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** MAIN STYLES START **************/

.loading__wrapper {
  margin-top: 350px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loadingbox {
  margin-right: 5px;
  width: 40px;
  height: 80px;
  background-color: #fff;
  animation-name: box;
  animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  border-radius: 5px
}

@keyframes box {
  0% {
    transform: scaleY(1);
    background-color: #E6E6FA;
  }
  /* 25%{
    background-color: #;
  } */
  50% {
    transform: scaleY(1.5);
    background-color: #4B0082;
  }  
  100% {
    transform: scaleY(1);
    background-color: #E6E6FA;
  } 
}

/* .box1{animation-delay: 100ms;} */
.box2{animation-delay: 100ms;}
.box3{animation-delay: 200ms;}
.box4{animation-delay: 300ms;}
.box5{animation-delay: 400ms;}
/* .box1{animation-delay: 100ms;} */


/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.box1 {
  animation-delay: 0ms;
}

/************** MAIN STYLES END **************/